COMPOSE_PROJECT_NAME=lightbringer

INFLUXDB_IMAGE_TAG=3.9.2-core
INFLUXDB_NODE_ID=lightbringer-node
INFLUXDB_DATABASE=lightbringer
INFLUXDB_RETENTION_PERIOD=
INFLUXDB_HOST_PORT=18181

GRAFANA_VERSION=13.0.1-security-01
GRAFANA_HOST_PORT=3300
GRAFANA_ADMIN_USER=admin

LIGHTBRINGER_GOSSIP_ENTRYPOINT=
LIGHTBRINGER_GOSSIP_PORT=65400
LIGHTBRINGER_PORT_RANGE_START=65401
LIGHTBRINGER_PORT_RANGE_END=65500
LIGHTBRINGER_RPC_ADDR=127.0.0.1:13000
LIGHTBRINGER_GRPC_ADDR=127.0.0.1:13001
LIGHTBRINGER_STORAGE=/var/lib/lightbringer/shred-store
LIGHTBRINGER_LOG_QUIET=false
